lib/data/GlobalLandTemperaturesByCity.csv
lib/data/GlobalLandTemperaturesByCountry.csv
lib/data/GlobalLandTemperaturesByMajorCity.csv
lib/data/GlobalLandTemperaturesByState.csv
lib/data/climate-change-data.zip
lib/data/GlobalTemperatures.csv