lib/db/climate-change-data/GlobalLandTemperaturesByCity.csv
lib/db/climate-change-data/GlobalLandTemperaturesByCountry.csv
lib/db/climate-change-data/GlobalLandTemperaturesByMajorCity.csv
lib/db/climate-change-data/GlobalLandTemperaturesByState.csv
lib/db/climate-change-data.zip
lib/db/climate-change-data/GlobalTemperatures.csv